
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    
}

h1{
    font-size: 50px;
    font-family: 'Caramel', cursive;
    /* font-weight: 200;
    line-height:normal; */
    /* line-height: 50%; */
    
    
}
.name-highlight{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;

}
p{
    text-align: justify;
}
.half-width img{
    width: 100%;
    height: 500px;
    
}
.top-banner{
    background-image: url("images/top-banner.png");
    height: 500px;
    background-repeat: no-repeat;
}
.link-button{
    text-decoration: none;
    /* background-color: greenyellow; */
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    background-image: linear-gradient( 45deg,green, greenyellow);
}